:root{
--mar:#006683;
/* tomé su color y con el CUSTOM de https://material.io/resources/color/  obtuve uno claro y otro oscuro */
--marclaro:#4994b3;
--marprofundo:#003c56;
}

html,
body {
    min-height: 100%;
    color: #fff;
    background: var(--mar);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

body::-webkit-scrollbar {
    width: 0.618rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--marprofundo);
}


header#titular {
    min-height: 100vh;
    background-color: var(--mar);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100% auto;
    background-image: url("img/caleta-tallaS.png");
    /* Uso una imagen cuadrada para pantallas más angosta*/
}

@media (min-width: 768px) {
    header#titular {
        background-image: url("img/caleta-tallaL.png");
        /* Uso una imagen apaisada para pantallas más anchas*/
    }
}
header#titular div.container {
    height: 100vh; /*  Misma altura que el header */
}


h1, h2, h3, h4, h5,{
    text-align: center;
    font-family: 'Roboto', sans-serif;    
    color: rgba(255,255,255,0.7);
}

h1 {
    font-weight: 900;
}


h2 {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 500;
    color: rgba(255,255,255,0.5);    
}

h5 {
    font-weight: 500;
}

h6 {
    text-align: center;
    font-weight: 200;
    color: rgba(255,255,255,0.6);
}


p{
    text-align: justify;
}


img.veda {
    filter: grayscale(100%);
}

aside{
    background:  var(--marclaro);
}


.card {
    background:  var(--marprofundo);
    border: none;
    font-size: 0.9rem;
}

h5.card-title {
    text-align: left;
    font-size:1rem;
}

h5.card-title a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

h5.card-title a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

p.text-blanquito {
    text-align: center;
    font-weight: 600;
}

p.text-amarillo {
    color: #f9c111;
    text-align: center;
    font-weight: 600;
}

p.text-rojito {
    color: #FF6699;
    text-align: center;
    font-weight: 600;
}

.morado {
    color:#FE8EB4;
}

img.artesanal {
     -webkit-filter: grayscale(1);
     filter: grayscale(1);
     opacity:0.75;
}

footer {
    background-color: var(--marprofundo);
    font-size:80%;
}

footer a{
    color: rgba(255, 255, 255, 0.75);    
}

footer a:hover{
    color: rgba(255, 255, 255, 1);    
}
